:root{
    --primary-color-grey:#666666;
    --primary-color-dark:#404040;
    --primary-color-100:#e6e6e6;
    --primary-color-500:#333333
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px auto;
    font-family: sans-serif;
    background-color: #d9d9d9;
   
   
}
.todo{
    color: var(--primary-color-grey);
   display: flex;
    flex-direction: column;
    /* align-items: center; */
    height:620px;
    max-width: 500px;
    min-width: 200px;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: var(--primary-color-100);
 

}
.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;   
    margin-top: 8px;
}
input[type="text"]{
    width: 100%;
    border: none;
    border-bottom:  2px solid var(--primary-color-grey);
    font-size: large;
    padding: 8px;
    outline: none;
    text-transform:capitalize;
    border-radius: 8px;
    color: var(--primary-color-dark);
}
.tasks-box{
    overflow: auto;
}
.task-item{
    display: grid;  
    grid-template-columns: auto 30px;
    
    border: 1px solid black;
    margin-top: 15px;
    border-radius: 8px;
    padding: 6px;
    text-transform: capitalize;
    color:var(--primary-color-dark);
    font-weight: 600;
}
.btn{
    color:var(--primary-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px; 
    border-radius: 8px;
    cursor: pointer;
    
}
.btn-add{
    color: white;
    padding:  6px;
    background-color:var(--primary-color-dark);
    border: none;
}
.btn-delete{
    border: none;
    background-color: var(--primary-color-100);
    font-size: 26px;
    
    
}
.footer{
    margin-top: auto;
}
.remain-tasks{
    font-weight: 800;
    
}
.footer{
    color: var(--primary-color-dark);
}
.btn-delete:hover{
    color: black;
}
.btn-add:hover{
    background-color:var(--primary-color-500);
}