:root{
    --primary-color-grey:#404040;
    --primary-color-dark:#333333;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
   
}
.todo{
    color: var(--primary-color-grey);
   display: flex;
    flex-direction: column;
    /* align-items: center; */
    height:100vh;
    max-width: 500px;
    min-width: 200px;
    padding: 10px 20px;
    margin: 10px auto;
    

}
.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
   

    
}
input[type="text"]{
    width: 600px;
    border: none;
    border-bottom:  2px solid black;
    font-size: large;
    padding-top: 10px;
    
    
}
.task-item{
    display: grid;  
    grid-template-columns: auto 30px;
    
    border: 1px solid black;
    margin-top: 15px;
    border-radius: 8px;
    padding: 6px;
    overflow: hidden;
    
}
.btn{
    color:var(--primary-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px; 
    border-radius: 8px;
    cursor: pointer;
}
.btn-add{
    color: white;
    padding:  4px;
    background-color:var(--primary-color-dark);
    border: none;
}
.btn-delete{
    border: none;
    background-color: white;
}
.footer{
    margin-top: auto;
}
.remains-task{
    font-weight: 800;
    
}